@import "tailwindcss";
@plugin "daisyui" {
  themes: dark, corporate;
}

h2 {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 0.7rem;
}

body {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 100dvh;
  position: relative;
}

.delayFadeIn {
  opacity: 0;
  animation: fadeIn 1s 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button {
  cursor: pointer;
}

.card:hover .angpl-btn {
  opacity: 0.5;
  pointer-events: all;
}

.card:hover .angpl-btn:hover {
  opacity: 1;
}

.set-line:has(.checked) {
  color: var(--color-success);
}
.category-checked {
  border: 2px solid var(--color-success);
}
.category-checked > div {
  background-color: rgba(0, 255, 136, 0.1);
}
.category-checked .category-sub {
  background-color: rgba(0, 255, 136, 0.05);
  border-bottom: 2px solid rgba(0, 255, 136, 0.2);
}
.category-checked .set-line {
  border-bottom: 1px solid rgba(0, 255, 136, 0.1);
}
.category-checked .add-new-set {
  border-top: 2px solid rgba(0, 255, 136, 0.2);
  background-color: rgba(0, 255, 136, 0.05);
}
