.loader {
  width: 60px;
  height: 60px;
  border: 4px dotted var(--color-info);
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite, fadeIn 1s linear forwards;
}
.loader::after {
  opacity: 0.4;
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted var(--color-info);
  border-style: solid solid dotted;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite, fadeIn 1s linear forwards;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
